@model IEnumerable<ModelsLayer.GetCartModel>
    <link rel="stylesheet" type="text/css" href="~/CSS/GetCart.css" />
<script type="text/javascript" src="~/Scripts/Bookstore/Cart.js"></script>


<div class="getmain">
    <div>
        <h4 class="title1" style="margin-bottom: 30px;font-weight:600;">
            My cart (@Model.Sum(a => a.Quantity))
        </h4>

    </div>
    @foreach (var items in Model)
    {
        <div class="container_get">
            <div class="image">
                <img src=@items.Image class="getimg" alt="..." style="width: 90px;height:16vh;">
            </div>
            <div class="getcart">
                <div class="BookName">@items.BookName</div>
                <div class="Author">by @items.Author</div>
                <div class="Price">Rs. @items.Price</div>
            </div>
        </div>


        <div class="quantity">
            <button class="decrease" onclick="decrement()">-</button>
            <input id=demoInput type=number min=0 max=50>
            <button class="increase" onclick="increment()">+</button>
        </div>

    }
    <div class="btn_checkout">
        <input id="Placeorder_btn" type="button" value="PLACE ORDER" class="placeorder" onclick="placeOrder()" />
    </div>
</div>
<div class="getcontainer">
    <h4 class="title2" style="color:dimgrey;">Customer Details</h4>
    <div id="customer" style="display:none;">
        <div style="position: relative;top: 10px;">
            <input id="Text1" type="text" placeholder="Name" style="height:40px;" />
            <input id="Text1" type="text" placeholder="Phone number" style="height:40px;margin-left:10px;" />
        </div>
        <div style="position: relative;top: 20px;">
            <input id="Text1" type="text" placeholder="Pincode" style="height:40px;" />
            <input id="Text1" type="text" placeholder="Locality" style="height:40px;margin-left:10px;" />
        </div>
        <div class="address">
            <input id="Text1" type="text" placeholder="Address" class="addresstext" />
        </div>
        <div style="position: relative;top: 40px;">
            <input id="Text1" type="text" placeholder="city/town" style="height:40px;" />
            <input id="Text1" type="text" placeholder="Landmark" style="height:40px;margin-left:10px;" />
        </div>
        <div style="position: relative;top: 45px;">Type</div>
        <div class="form-check" style="position: relative;top: 45px;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Home
            </label>

        </div>
        <div class="form-check" style="position: relative;left: 120px;top: 20px;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Work
            </label>
        </div>
        <div class="form-check" style="position: relative;left: 235px;top: -6px;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Other
            </label>
        </div>
        <div class="btncontinue1">
            <input id="continue_btn" type="button" value="CONTINUE" class="continue" onclick="Continue()" />
        </div>
    </div>
</div>

<div class="getorder">

    <div>
        <h4 class="title3" style="color:dimgrey;">Order summery</h4>
    </div>
    <div id="Order" style="display:none;">
        <div class="text">
            @foreach (var items in Model)
            {
            <div class="image">
                <img src=@items.Image class="getimg" alt="..." style="width: 90px; height: 16vh;">
            </div>
            <div class="getcart">
                <div class="Book">@items.BookName</div>
                <div class="authornme">by @items.Author</div>
                <div class="bookprice">Rs.@items.Price</div>
            </div>
            }

        </div>
        <div class="btn_checkout">
            <input id="checkout_btn" class="checkout" type="button" value="CHECKOUT" onclick="@("window.location.href='" + Url.Action("Order", "Orderplaced") + "'");" />
        </div>
    </div>
</div>



@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
