<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/CSS/Layout.css" rel="stylesheet" type="text/css" />
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">*@
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <nav class="navbar navbar-light" style="background-color: maroon; display: flex; justify-content: space-evenly;border-radius:0px;">
        <a class="navbar-brand" href="#" style="color: white; position: relative; left: 23px;">
            @*<img src="../images/reading.png" width="30" height="30" class="d-inline-block align-top" alt="">*@
            Bookstore
        </a>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="margin-top: 8px;max-width: 35%; position: relative; right: 45px;">

        <a class="navbar-brand" href="#" style="color: white; font-size: medium;">
            Cart
            @*<img src="../images/shopping-cart.png" width="30" height="30" class="d-inline-block align-top" />*@
        </a>
        </nav>
        <div class="container body-content">
            @RenderBody()

            <footer class="footer">
                @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
                <p>copyright 2020,Bookstore Private Limited.All Rights Reserved</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
