@model IEnumerable<ModelsLayer.BooksModel>
    @Scripts.Render("~/bundles/Bookstore/Books")
<link type="text/css" rel="stylesheet" href="~/CSS/GetBook.css"  />
<script type="text/javascript" src="~/Scripts/Bookstore/Books.js"></script>

    <h2 class="title" style="font-weight:bold;margin-left: 5%;">Books
        <span style="color:lightgray;font-size: large;"> (@Model.Sum(a => a.Quantity))</span>
    </h2>
    <div class="displaycontainer" style="display: flex; flex-wrap: wrap; width: 90%; margin-left: 35px;">
        @foreach (var items in Model)
        {
            <div class="card card1" style="width: 21rem; margin: 20px; border: 1px solid rgba(0,0,0,.125); border-radius: .25rem;">
                <div class="card-body" style="padding:0px;">
                    <div style="background-color: #f2f1f1;">
                        <img src="~/images/book1.jpg" class="card-img-top cardimg" alt="..." style="width: 90px; position: relative; top: 0px; padding-top: 10px; left: 58px; padding-bottom: 10px; height: 130px;">
                    </div>
                    <div style="padding:1rem;">
                        <div class="BookName" style="font-weight: bold;">@items.BookName</div>
                        <div class="Authors" style="color: lightgray;font-size: small;">
                            by
                            <label>@items.Author</label>
                        </div>
                        <div class="rate" style="background-color: darkgray; width: 25px; height: 20px;">4.5</div>
                        <div class="Quantity">@items.Quantity</div>
                        <div class="Price" style="margin-top: 1px; margin-bottom: 8px; font-weight: bold;">Rs.@items.Price</div>
                        <div class="displaybutton">
                            <input type="button" value="Add To Bag" class="addtobag" id="addtobag_btn-@items.BookId" onclick="AddToCart(@items.BookId)" />
                            <input type="button" value="Wishlist" class="wishlist"  id="wishlist_btn-@items.BookId" onclick="AddToWishlist(@items.BookId)" />
                            <input type="button" value="Added To Bag" class="addedtobag" id="addedtobag_btn-@items.BookId" style="display:none;" />
                            <input type="button" value="Added To Wishlist" class="addedtowishlist" id="addedtowishlist_btn-@items.BookId" style="display:none;" />

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        }
               
                

                @*<div>
                    @Html.ActionLink("Back to List", "Index")
                </div>*@
